body {
  background-color: #1E1F25;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;     /* Centers vertically */
  min-height: 100vh;       /* Ensures the body takes up the full viewport height */
  margin: 0;               /* Resets default body margin */
}

:root {
    --font-family: 'Karla', sans-serif;
    --body-bg: #1E1F25;
    --btn-bg: #000;
    --btn-color: #cbcbcb;
    --btn-color-hover: #fff;
    --grad-color1: #eeaf61;
    --grad-color2: #fb9062;
    --grad-color3: #ee5d6c;
    --grad-color4: #ce4993;
    --grad-color5: #6a0d83;
}

button {
    font-family: var(--font-family);
    background-color: var(--btn-bg);
    color: var(--btn-color);
    padding: 20px 30px;
    border-color: #cbcbcb;
}

button:hover {
    background-color: var(--btn-color);
    color: var(--btn-color-hover);
}
