body {
  background-color: #1E1F25;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;     /* Centers vertically */
  min-height: 100vh;       /* Ensures the body takes up the full viewport height */
  margin: 0;               /* Resets default body margin */
  font-family: 'Karla', sans-serif;
}

:root {
    
    --grad-color1: #eeaf61;
    --grad-color2: #fb9062;
    --grad-color3: #ee5d6c;
    --grad-color4: #ce4993;
    --grad-color5: #6a0d83;
}

button {
    background-color: black;
    color: #cbcbcb;
    padding: 20px 30px;
   
}

button:hover {
    background-color: var(--btn-color);
    color: #fff;
}

.gradient {
  border: 4px solid transparent; /* Set a transparent border to reserve space */
  border-image: linear-gradient(to right,  #eeaf61,#fb9062, #ee5d6c, #ce4993, #6a0d83) 1;
}

.gradient:hover {
  border: 4px solid transparent; /* Set a transparent border to reserve space */
  border-image: linear-gradient(to left,  #eeaf61,#fb9062, #ee5d6c, #ce4993, #6a0d83) 1;
}

